.signup-form{
    margin-top: 100px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    /* padding: auto; */
}
.form{
    width: 30vw;
}
.Join_the_team{
    height: 300px;
    object-position: center;
    /* object-fit: contain; */
}

.form_header{
    font-weight: bold;
}
.signUp_terms_of_services{
    margin-top: 10px;
    font-size: 12px;
}
.home-chef{
    height: 400px;
    /* width: 900px; */
    object-fit: contain;
    object-position: center;
    /* border: 1px solid red; */
}
.site{
    margin-top: -250px;
    width: 10vw;
}

.submit-button{
    background-color: #33D185;
    border: none;
    width: 100%;
}

.benefits_header{
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bolder;
}

.sections_header{
    margin-top: 80px;
}


.benefits__section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}


.card_image{
    height: 200px;
    object-position: center;
    object-fit: contain;
}

.card_icon{
    height: 150px;
    object-position: center;
    object-fit: contain;
}
.card{
    border: none;
    outline: none;
    height: 500px;
}
.card_container{
    height: max-content;
}

.card_body{
    margin-top: 50px;
}


.sign_up_button{
    background-color: #33D185;
    border: none;
    width: 100%;
}

.text{
    text-align: center;
}

.first-text{
    font-weight: bold;
    text-align: center;
}





.more{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;  */
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 80px;

}
.more_button{
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.525);
    color: black;
    /* margin-top: 20px; */
    padding: 10px;
    width: fit-content;  
  
}
.button_container{
    display: flex;
    justify-content: center;
}

.faq-body{
    /* padding: 0 70px; */
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  
}

/* For medium devices */
@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 576px) {
    .signup-form{
           flex-wrap: wrap;

    }

    .form{
        width: 100%;
    }
   
    
    .signup_image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-chef{
        /* margin-top: 30px; */
        height: 230px;
    }

    .site{
        display: none;
    }
    .download-app-btn img{
            height: 1rem;
    }
    
    
.benefits__section{
    flex-wrap: wrap;
}

.more{
    flex-wrap: wrap;
}
  }
/* For small devices */
@media screen and (max-width: 360px) {
    .home-chef{
        height: 220px;
    }
}
