
.footer-container{
    background-color: #33d18544;
    width: 100%;
}
.footer-section{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* margin: 0 50px; */
    padding:20px 10px;
    gap: 20px;
}
/* .cook-earn-section,
.about-section,
.kitchly-logo-section{
    width: 50%;
} */


.kitchly-logo-section p{
    margin-top: 20px;
    /* width: 20vw; */
}
.about-section{
    text-align: center;
}
.apple_playstore img{
    height: 2rem;
}
.download-app-btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.logo{
    height: 50px;
}


@media screen and (max-width: 576px) {

    .logo_box{
        display: flex;
        justify-content: center;
    }
    .logo{
        height: 50px;
    }

    .apple_playstore img{
        height: 5rem;
    }

        .about-section{
            margin-top: 30px;
        }

        .footer-text,
        .cook-earn-section{
            text-align: center;
        }
  }