
.footer-container{
    margin-top: 30px;
}
.footer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 30px;
}
/* .cook-earn-section,
.about-section,
.kitchly-logo-section{
    width: 50%;
} */

.kitchly-logo-section p{
    margin-top: 20px;
    /* width: 20vw; */
}
.about-section{
    text-align: center;
}
.download-app-btn img{
    height: 2rem;
}


@media screen and (max-width: 576px) {
        .download-app-btn{
            display: flex;
            justify-content: space-evenly;
            margin-top: 20px;
        }

        .about-section{
            margin-top: 30px;
        }
  }